{% extends "Base.html" %}
{% block start %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype = "multipart/form-data">
    {% csrf_token %}
        <h2 align ="center">Update Receipe</h2><hr>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
    <input name="receipe_name" value="{{ receipe.receipe_name }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
    <textarea name="receipe_description" class="form-control" required>{{ receipe.receipe_Description }}</textarea>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
    <input type="file" class="form-control" name="receipe_image">
  </div>
  <button type="submit" class="btn btn-success">Update Receipe</button>
</form>
</div>
{% endblock %}